* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-color:#191a1f;
    --main-color:#ffdb02;
}

html {
    scroll-behavior: smooth;    
}

body {
    background-color: var(--dark-color);
    font-family: 'Abel', sans-serif;
    /* font-family: 'Noto Sans Linear B', sans-serif;
    font-family: 'Open Sans', sans-serif; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Header */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container .logo {
    max-width: 30px;
} 

header .container nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

header .container nav .toggle-menu {
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
    background-color: var(--main-color);
    padding: 10px 15px;
    border-radius: 3px;
}

header .container nav .toggle-menu span {
    background-color: black;
    height: 2px;
    margin-bottom: 4px;
    transition: .3s;
}

header .container nav .toggle-menu span:not(:nth-child(2)) {
    width: 100%;
}

header .container nav .toggle-menu span:nth-child(2) {
    width: 70%;
}

header .container nav .toggle-menu:hover span:nth-child(2){
    width: 100%;
}

header ul {
    display: none;
}

header ul li {
    padding: 10px;
}

header .container nav ul li a {
    color: black;
    transition: .3s;
}

header .container nav ul li a:hover {
    color: var(--main-color);
}

header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 10px;
    background-color: #ffffff;
    padding: 10px 35px;
    border-radius: 5px;
}
/* End Header */

/* Start Landing */
.landing .container {
    padding: 20px 100px;
}

.landing .container h1 {
    font-size: 100px;
    color: var(--main-color);
    max-width: 550px;
    font-weight: 500;
}

.landing .container p {
    color: #ddd;
    max-width: 630px;
    margin: 10px 0 30px;
}

.landing .container a {
    border: 1px solid var(--main-color);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: .3s;
}

.landing .container a:hover {
    border: 0;
    background-color: var(--main-color);
    color: black;
}

@media (max-width:767px) {
    .landing .container h1 {
        font-size: 70px;
    }
    .landing .container {
        text-align: center;
    }
}
/* End Landing */

/* Start Text */
section.text {
    background-color: var(--main-color);
    margin-top: 100px;
}
section.text .container {
    padding: 50px 10px;
}

section.text .container p {
    line-height: 1.5;
}
/* End Text */

/* Start Skills */
section.skills {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 2px;
}

section.skills .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 40px;
    
}

section.skills .container > div  i {
    background-color: var(--main-color);
    padding: 15px;
    margin-bottom: 10px;
}

section.skills .container > div h2 {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: var(--main-color);
    text-transform: uppercase;
}

section.skills .container > div p {
    color: #777;
}

section.skills  a {
    border: 1px solid var(--main-color);
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    transition: .3s;
    display: block;
    width: fit-content;
    margin: 80px auto;
}

@media (max-width:767px) {
    section.skills .container {
        text-align: center;
    }
}
/* End Skills */


/* Start Info */
section.info {
    padding: 50px 0;
}
section.info .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 20px;
    text-align: center;
}

section.info .container > div i {
    color: var(--main-color);
    margin-bottom: 10px;
    font-size: 35px;
}

section.info .container > div h4 {
    margin-top: 10px;
    color: white;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

section.info .container > div span {
    text-transform: uppercase;
    color: var(--main-color);
}
/* End Info */

/* Start Projects */
section.projects {
    background-color: white;
    padding: 100px 0;
}

section.projects .container h2 {
    color: var(--main-color);
    font-size: 40px;
    text-transform: uppercase;
}

section.projects .container p {
    color: #777;
    max-width: 550px;
}

section.projects .container ul {
    display: flex;
    margin: 50px 0;
    justify-content: center;
    align-content: center;
}

section.projects .container ul li {
    border: 1px solid var(--main-color);
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s;
}

section.projects .container ul li:hover {
    background-color: #ffdb02;
}

section.projects .container ul li.active {
    background-color: var(--main-color);
}

section.projects .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
    width: 100%;
}

section.projects .gallery img {
    max-width: 100%;
    min-height: 100%;
    transition: .5s;
}

section.projects .gallery .box {
    background-color: white;
    height: 350px;
    width: 350px;
    padding: 10px;
    box-shadow: 0 0 15px #eee;
    overflow: hidden;
}

section.projects .gallery .box:hover img {
    transform: rotate(4deg) scale(1.2);
}

section.projects .container a {
    display: block;
    border: 1px solid var(--main-color);
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    transition: .3s;
    width: fit-content;
    margin: 20px auto;
}

section.projects .container a:hover {
    border: 0;
    background-color: var(--main-color);
}

@media (max-width:767px) {
    section.projects .container ul {
        flex-direction: column;
    }

    section.projects .container ul li {
        text-align: center;
        margin-bottom: 10px;
        border-radius: 3px;
    }
}
/* End Projects */

/* Start Clients */
section.clients {
    padding: 100px 0;
}

section.clients .container h2 {
    color: var(--main-color);
    font-size: 40px;
    text-transform: uppercase;
}

section.clients .container p {
    color: #777;
    max-width: 550px;
}

section.clients .container .icon {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 30px;
    margin-top: 70px;
}

section.clients .container .icon i {
    font-size: 45px;
    color: var(--main-color);
    text-align: center;
}
/* End Clients */

/* Start Contact Us */
section.contact {
    background-color: white;
    padding: 100px 0;
}

section.contact .container h2 {
    color: var(--main-color);
    font-size: 40px;
    text-transform: uppercase;
}

section.contact .container p {
    color: #777;
    max-width: 550px;
    margin-bottom: 40px;
}


section.contact .container .form input , 
section.contact .container .form textarea{
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    outline: none;
    resize: none;
    width: 400px;
}

section.contact .container .form {
    text-align: center;
}

section.contact .container a {
    display: block;
    border: 1px solid var(--main-color);
    color: black;
    padding: 10px 35px;
    border-radius: 20px;
    transition: .3s;
    width: fit-content;
    margin: 10px auto;
}

section.contact .container a:hover {
    border: 0;
    background-color: var(--main-color);
}

@media (max-width:767px) {
    section.contact .container .form input , 
    section.contact .container .form textarea{
        max-width: 300px;
    }
}
/* End Contact Us */


/* Start Footer */
.footer {
    background-color: var(--main-color);
    padding: 30px 0;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 20px;
    text-align: center;
}

.footer .container > div i {
    background-color: var(--dark-color);
    padding: 15px;
    margin-right: 2px;
    color: white;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 30px 0;
}

footer p {
    color: white;
}

footer p span {
    color: var(--main-color);
}
footer .container .icons i {
    margin-top: 30px;
    color: white;
}

footer .container .icons i {
    margin-right: 20px;
} 

footer .container .icons i:first-child {
    margin-left: 20px;
} 

@media (max-width:767px) {
    .footer .container > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
/* End Footer */